* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background-color: #eee;
}

body {
    font-family: sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.connect {
    padding: 30px 0;
    text-align: center;
}
.connect input {
    background: none;
    border: none;
    border-bottom: 2px solid #08f;
    display: block;
    font-size: 24px;
    margin: 10px auto;
    padding: 10px;
}
.connect [disabled] {
    border-bottom-color: #aaa;
}
.connect ::-moz-placeholder {
    color: #999;
}

.hangout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#history {
    background-color: #fff;
    flex-grow: 1;
    min-height: 100px;
    position: relative;
    padding: 10px;
}

#history > .remote,
#history > .local
{
    font-family: monospace;
    white-space: pre-wrap;
}

#history > .remote::before {
    color: #900;
    content: '(remote) ';
}

#history > .local::before {
    color: #009;
    content: '(local)  ';
}

#history > .log {
    color: #ccc;
}

.decryption {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

.encryption {
    align-items: center;
    display: flex;
    padding: 10px;
}
#plaintext {
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;
    display: block;
    flex-grow: 1;
    min-height: 30px;
    min-width: 200px;
    padding: 8px 5px 5px;
    margin: 0 5px;
}
#encryptionOptions {
    padding: 0 3px;
}
input[type="number"] {
    width: 60px;
}

.page-footer {
    color: #888;
    font-size: small;
    margin: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 800px) {
    body {
        font-size: 16px;
    }
    #history {
        padding-bottom: 80px;
    }
    .encryption {
        flex-wrap: wrap;
    }
}
